body{
  color: #fff;
  background-color:rgb(65, 65, 121);
}

a {
  color: #fff;
}

.btn {
  background:pink;
  padding: 8px 16px;
}
.btn:hover {
    opacity: 0.3;
    color: white;
  }
 
.header{
  background-color: rgb(65, 65, 121);
  color: #fff;
  height: 70px；
}

h1 {
  color: #fff;
  text-align: center;
}


/* .about-me { */
  /* background-image: url("https://i.ibb.co/dJ31mpv/top.png" ); */
  /* position: relative; */
/* } */

.about-me img {
  width: 100vw;
}

.about-me-text {
  position: absolute;
  top: 28%;
  left: 28%;
  text-align: center;
}

li {
  list-style: none;
  padding: 20px 30px;
}

ul {
  display: flex;
}

img {
  width: 100%;
}

.feature {
  
}